@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-fonts {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 
}



*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
  
 body{
       background-color: #1A0B2E; 
 }
/* header logo style */

 .nav-logo h2 {
    font-size: 32px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #ffffff; /* Tech part */
}

.gradient.wave {
    background: linear-gradient(90deg, #ff2bdc, #7f00ff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
 /* shared styles */

 .btn{
      height: 44px;
      width: 135px;
      font-size: 1rem;
      font-weight: 600;
      line-height: 19px;
      padding: 13px 0;
      padding-left: 16px;
      padding-right: 30px;
      border-radius: 1000px;
      border: none;
      color: #ffff;

     
 }

 .btn img {
    position: absolute;
    left: 83%;
    top: 41px;
}

  .spotify-btn {
           width: 201px;
           height: 44px;
           margin-top: 24px;
          padding: 12px 20px 12px 20px;
      
 }

.subscribe-btn {
        padding: 12px 20px 12px 20px;
        width: 147px;
        height: 44px;
        margin-left: 8px;
        background-color: #1A0B2E;
        border: 1px solid #00FF88;
        color:#00FF88 ;
 }
 /* icon styles */

 .btn .icon{
        margin-right: 5px;
        height: 20px;
        width: 20px;
 }

 .gradient{
       background: var(--linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
 }
/* navbar styles */

.navbar{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 28px 200px;

}

 .nav-logo{
       color: rgba(255, 255, 255, 1);

 }

 .menu>a{
     
      color: rgba(255, 255, 255, 1);
      padding: 20px;
      font-size: 1rem;
      font-weight: 500;
      text-decoration: none;
      cursor: pointer;
 }

 
 .navbar .hamburger-menu{
     display: none;
 }

 /* hero section styles */

.hero-section{
     background-image:                              url(../assets/hero-bg.png);
     background-repeat: no-repeat;
     background-size: cover;   /*image ful cover*/ 
     height: 100vh;
     border-top: 1px solid rgba(128, 128, 128, 0.171);

   
}

 .hero-container{
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      margin: 0 auto;
  
 }

 .hero-content{
       width: 50%;
 }

  .hero-container .hero-images{
       background-image: url(../assets/hero-circle.png);
       
       background-repeat: no-repeat;
       background-position: center ;
       padding: 69px 117px;
       padding-bottom: 81px; 
       width: 350px;
       height: 350px;
       margin-top: 85px;
       position: relative;
       outline-color: #1A0B2E;
       
 }

 .hero-images img { 
       width: 100%; 
       
 }

 .hero-images .badge{
        position: absolute;
        top: 7%;
        right: 3%;
        width: 75px;
        height: 38px;
        padding: 7px ;
        text-align: center;
         color:#000;
        background-color: rgba(0, 255, 136, 1);
        box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
        border-radius: 1000px;

 }

 .hero-content .hero-heading{ 
        margin-top: 40px;
        font-size: 3.60rem;
        font-weight: 600;
        line-height: 73px;
        color:#ffff;
 }

 .hero-content .hero-text{
       color: rgba(255, 255, 255, 0.575);
       font-size: 1rem;
       font-weight: 400;
       text-align: center;
 }

 /* about section styles */

 .about-section{
        padding: 100px 200px;
        background-color: #0a0411;
       
 }
 .about-container{
      max-width: 1200px;
      display: flex;
      margin: 0 auto;
      flex-direction: column;
      justify-content: center;
      align-items: center; 
            
 }

 .about-text {
        width: 60%;
        border-bottom:1px solid gray ;
        padding-bottom: 80px;
     
 }

 .about-text h2{
       padding-bottom: 16px;
       font-size: 3rem;
       font-weight: 700; 
       color:#ffff;  
       text-align: center;
       line-height: 58px;
 }

 .about-text p{
        color: rgba(255, 255, 255, 0.575);
        font-size:1rem;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
    
 }

 .info-card{
        margin-top: 80px;
        margin-bottom: 30px;
        display: grid;
        grid-template-columns: repeat(4, 2fr);
        gap: 80px;
 }
.info-card .card h2{
        color:#00FF88;
        font-size: 3rem;
        font-weight: 900;
        line-height: 58px;
}

.info-card .card p{
        color: rgba(255, 255, 255, 0.575);
        font-size: 1rem;
        padding-top: 16px;
}

/* choose techwave styles */
.choose-section{
       max-width: 1200px;
       margin: 0 auto;
       margin-bottom: 80px;
       
}

.choose-section h1{
        margin-top: 80px;
        margin-bottom: 40px;
       font-size: 3rem;
       font-weight: 700;
       text-align: center;
       line-height: 58px;
       color:#ffff;
}
 /* grid area */
 .grid-container>*{
       background-color: rgba(53, 17, 101, 0.4);
       padding: 30px; 
       border-radius: 40px;
       
      
 }

#premium{ 
       grid-area: premium;
       padding:  100px 40px;
       justify-content: center;
 }

  .mobile-friendly{
       grid-area: mobile-friendly;
 }

 #global-community{
         grid-area: global-community;
 }
 .exclusive-interviews{
         grid-area: exclusive-interviews;
 }

 .rich-resources{
      grid-area: rich-resources;
 }

.grid-container{
    
      display: grid;
      gap: 20px;
      grid-template-areas: 
      " premium mobile-friendly mobile-friendly"
      "premium global-community global-community"
      "exclusive-interviews exclusive-interviews rich-resources"
 }
 
 .grid-container h2{
        font-size:  24px ;
        font-weight: 700;
        margin-top: 16px;
        margin-bottom: 16px;
        color: #ffff;
 }

 .grid-container p{
        font-size: 1rem;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.575);
 }

 /* features section styles */

 /* meet  host section styles */
section>h1{
       margin-bottom: 40px;
       font-size: 3rem;
       font-weight: 700;
       text-align: center;
       color: #fff;
  }
 .host-container{
        background-color:rgba(53, 17, 101, 0.4); 
        max-width: 1200px;
        display: flex;
        gap: 24px;
        flex-direction: start;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        border-radius: 40px;
    
 }

 .host-container img{
        width: 20%;
       margin-top: 40px;
       margin-bottom: 40px;
      
       
 }

 .host-container .host-info{
        width: 70%;
 }
.host-info h2{
       font-size: 2rem;
      font-weight: 700;
      line-height: 39px;
      color: #ffff;
      padding-bottom: 16px;
}
 
.host-info p{

        font-size: 1rem;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.575);
}

.host-info img{
        display: inline;
        border-radius: 10px ;
        margin-top: 16px;
        border: 1px solid rgba(83, 60, 114, 1);
        width: 20px;
        height: 20px;
        padding: 4.17px 1.68px;

}

/* footer styles */
.techwave-footer {
   background-image: url(../assets/footer-bg.png);
   background-position: center;
   background-size: cover;
  padding: 60px 20px;
  text-align: center;
  margin-top: 120px;
  height: 70vh;
  
}

 .logo {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 26px;
  color:#fff;
}

.gradient.wave {
    background: linear-gradient(90deg, #ff2bdc, #7f00ff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.platforms {
  display: flex;
  justify-content: center;
  gap: 28px;
  flex-wrap: wrap;
  margin-bottom: 26px;
}

.platforms a {
  display: flex;
  align-items: center;
  gap: 8px;
 
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
}

.platforms a i {
  font-size: 16px;
   color: #dcdcdc;
}
.platforms, .copyright{
        color:  rgba(255, 255, 255, 0.575);
}

copyright {
  font-size: 13px;
  opacity: 0.7;
}


 /* responsive */
 /* smaller device */

 